# About This Notebook
In this **Exploring Data with Pandas: Fundamentals** chapter, we will learn:
- How to select data from pandas objects using boolean arrays.
- How to assign data using labels and boolean arrays.
- How to create new rows and columns in pandas.

****
## 1. Introduction to the Data

We learned the basics of the pandas library in the previous chapter and explored some dataframes using the techniques we have learned. Just to refresh your memory:
> Axis values in dataframes can have **string labels**, not just numeric ones, which makes selecting data much easier.

> Dataframes have the ability to contain columns with **multiple data types**: such as integer, float, and string.

In this chapter, we'll learn some other ways working with data using pandas.

This time, we will continue working with a data set from Fortune magazine's Global 500 list 2017.

Here is a data dictionary for some of the columns in the CSV:

- **company**: Name of the company.
- **rank**: Global 500 rank for the company.
- **revenues**: Company's total revenue for the fiscal year, in millions of dollars (USD).
- **revenue_change**: Percentage change in revenue between the current and prior fiscal year.
- **profits**: Net income for the fiscal year, in millions of dollars (USD).
- **ceo**: Company's Chief Executive Officer.
- **industry**: Industry in which the company operates.
- **sector**: Sector in which the company operates.
- **previous_rank**: Global 500 rank for the company for the prior year.
- **country**: Country in which the company is headquartered.
- **hq_location**: City and Country, (or City and State for the USA) where the company is headquartered.
- **employees**: Total employees (full-time equivalent, if available) at fiscal year-end.

In [1]:
import pandas as pd
import numpy as np

f500 = pd.read_csv('../../../Data/csv/f500.csv',index_col=0)

### Task 3.4.1:
Now I have already read the dataset into a pandas dataframe and assigned it to a variable named ``f500``.

1. Use the ``DataFrame.head()`` method to select the first 10 rows in ``f500``. Assign the result to ``f500_head``.
2. Use the ``DataFrame.info()`` method to display information about the dataframe.

In [3]:
# Start your code here:
f500_head = f500.head()
f500.info

<bound method DataFrame.info of                                 rank  revenues  revenue_change  profits  \
company
Walmart                            1    485873             0.8  13643.0
State Grid                         2    315199            -4.4   9571.3
Sinopec Group                      3    267518            -9.1   1257.9
China National Petroleum           4    262573           -12.3   1867.5
Toyota Motor                       5    254694             7.7  16899.3
...                              ...       ...             ...      ...
Teva Pharmaceutical Industries   496     21903            11.5    329.0
New China Life Insurance         497     21796           -13.3    743.9
Wm. Morrison Supermarkets        498     21741           -11.3    406.4
TUI                              499     21655            -5.5   1151.7
AutoNation                       500     21609             3.6    430.5

                                assets  profit_change                  ceo  \
company
Walmart                         198825           -7.2  C. Douglas McMillon
State Grid                      489838           -6.2              Kou Wei
Sinopec Group                   310726          -65.0            Wang Yupu
China National Petroleum        585619          -73.7        Zhang Jianhua
Toyota Motor                    437575          -12.3          Akio Toyoda
...                                ...            ...                  ...
Teva Pharmaceutical Industries   92890          -79.3    Yitzhak Peterburg
New China Life Insurance        100609          -45.6             Wan Feng
Wm. Morrison Supermarkets        11630           20.4       David T. Potts
TUI                              16247          195.5    Friedrich Joussen
AutoNation                       10060           -2.7   Michael J. Jackson

                                                       industry  \
company
Walmart                                   General Merchandisers
State Grid                                            Utilities
Sinopec Group                                Petroleum Refining
China National Petroleum                     Petroleum Refining
Toyota Motor                           Motor Vehicles and Parts
...                                                         ...
Teva Pharmaceutical Industries                  Pharmaceuticals
New China Life Insurance        Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                  Food and Drug Stores
TUI                                             Travel Services
AutoNation                                  Specialty Retailers

                                                sector  previous_rank  \
company
Walmart                                      Retailing              1
State Grid                                      Energy              2
Sinopec Group                                   Energy              4
China National Petroleum                        Energy              3
Toyota Motor                    Motor Vehicles & Parts              8
...                                                ...            ...
Teva Pharmaceutical Industries             Health Care              0
New China Life Insurance                    Financials            427
Wm. Morrison Supermarkets           Food & Drug Stores            437
TUI                                  Business Services            467
AutoNation                                   Retailing              0

                                country           hq_location  \
company
Walmart                             USA       Bentonville, AR
State Grid                        China        Beijing, China
Sinopec Group                     China        Beijing, China
China National Petroleum          China        Beijing, China
Toyota Motor                      Japan         Toyota, Japan
...                                 ...                   ...
Teva Pharmaceutical Industries   Israel  Petach Tikva, Israel
New China Life Insurance          China        Beijing, China
Wm. Morrison Supermarkets       Britain     Bradford, Britain
TUI                             Germany      Hanover, Germany
AutoNation                          USA   Fort Lauderdale, FL

                                                     website  \
company
Walmart                               http://www.walmart.com
State Grid                            http://www.sgcc.com.cn
Sinopec Group                         http://www.sinopec.com
China National Petroleum              http://www.cnpc.com.cn
Toyota Motor                    http://www.toyota-global.com
...                                                      ...
Teva Pharmaceutical Industries      http://www.tevapharm.com
New China Life Insurance         http://www.newchinalife.com
Wm. Morrison Supermarkets           http://www.morrisons.com
TUI                                  http://www.tuigroup.com
AutoNation                         http://www.autonation.com

                                years_on_global_500_list  employees  \
company
Walmart                                               23    2300000
State Grid                                            17     926067
Sinopec Group                                         19     713288
China National Petroleum                              17    1512048
Toyota Motor                                          23     364445
...                                                  ...        ...
Teva Pharmaceutical Industries                         1      56960
New China Life Insurance                               2      54378
Wm. Morrison Supermarkets                             13      77210
TUI                                                   23      66779
AutoNation                                            12      26000

                                total_stockholder_equity
company
Walmart                                            77798
State Grid                                        209456
Sinopec Group                                     106523
China National Petroleum                          301893
Toyota Motor                                      157210
...                                                  ...
Teva Pharmaceutical Industries                     33337
New China Life Insurance                            8507
Wm. Morrison Supermarkets                           5111
TUI                                                 3006
AutoNation                                          2310

[500 rows x 16 columns]>

## 2. Vectorized Operations

Do you remember vectorized operations which we encountered in the NumPy library? Vectorized operations enable operations applied to multiple data points at once, which does not only improve our code's performance, but also enables us to write code more quickly.

Since pandas is an extension of NumPy, it also supports vectorized operations. Just like with NumPy, we can use any of the standard Python numeric operators with series, including:


- **Addition**: `vector_a + vector_b`
- **Subtraction**: `vector_a - vector_b`
- **Multiplication**: (unrelated to the vector multiplication in linear algebra): `vector_a * vector_b`
- **Division**: `vecotr_a / vector_b`


### Task 3.4.2: 
1. Subtract the values in the `rank` column from the values in the ``previous_rank`` column. Assign the result to a variable ``rank_change``.

In [4]:
# Start your code below:
rank_change = f500["previous_rank"]-f500["rank"]

## 3. Series Data Exploration Methods

Just as NumPy, pandas supports many descriptive ``stats`` methods like the following:
- `Series.max()`
- `Series.min()`
- `Series.mean()`
- `Series.median()`
- `Series.mode()`
- `Series.sum()`

Look at how you can use the stats methods below:

````python
print(my_series)
````

Output:
````python
0    1
1    2
2    3
3    4
4    5
dtype: int64
````

````python
print(my_series.sum())
````

Output:
````python
15
````

### Task 3.4.3:
1. Use the `Series.max()` method to find the maximum value for the `rank_change` series. Assign the result to the variable `rank_change_max`.
2. Use the `Series.min()` method to find the minimum value for the `rank_change` series. Assign the result to the variable `rank_change_min`.

In [6]:
# Start your code below:
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()

print(rank_change_max)
print(rank_change_min)

226
-500

## 4. Series Describe Method

In this session, we will learn another method called `Series.describe` This [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.describe.html) shows us various information such as how many non-null values are contained in the series, the average, minimum, maximum, and other statistics.

Let's see how we can use this method:

In [7]:
assets = f500["assets"]
print(assets.describe())

count    5.000000e+02
mean     2.436323e+05
std      4.851937e+05
min      3.717000e+03
25%      3.658850e+04
50%      7.326150e+04
75%      1.805640e+05
max      3.473238e+06
Name: assets, dtype: float64

You can see that the values in the code segment above are displayed in <b>E-notation</b>, a type of [scientific notation](https://en.wikipedia.org/wiki/Scientific_notation).

When we use `describe()` on a column which contains non-numeric values, we will get some different statistics, like the following example shows:

In [8]:
country = f500["country"]
print(country.describe())

count     500
unique     34
top       USA
freq      132
Name: country, dtype: object

The first line of information, `count`, is the same as for numeric columns, showing us the number of non-null values. The other three statistics are described below:

- ``unique``: Number of unique values in the series.
- ``top``: Most common value in the series.
- ``freq``: Frequency of the most common value.

### Task 3.4.4
1. Return a series of descriptive statistics for the rank column in ``f500``.
    - Select the rank column. Assign it to a variable named ``rank``.
    - Use the ``Series.describe()`` method to return a series of statistics for rank. Assign the result to ``rank_desc``.
2. Return a series of descriptive statistics for the `previous_rank` column in `f500`.
    - Select the ``previous_rank`` column. Assign it to a variable named ``prev_rank``.
    - Use the ``Series.describe()`` method to return a series of statistics for ``prev_rank``. Assign the result to ``prev_rank_desc``.

In [11]:
# Start your code below:
rank = f500["rank"]
print(rank.describe())
prev_rank = f500["previous_rank"]
prev_rank_desc = prev_rank.describe()

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64

## 5. Method Chaining (IMPORTANT)

Method chaining is a common syntax for invoking multiple method calls in object-oriented programming languages. Each method returns an object, allowing the calls to be chained together in a single statement without requiring variables to store the intermediate results ([Wikipedia](https://en.wikipedia.org/wiki/Method_chaining)).

We have actually used a couple of method chainings before in our previous examples.


#### Without method chaining
````python
countries = f500["country"]
countries_counts = countries.value_counts()
````

#### With method chaining
````python
countries_counts = f500["country"].value_counts() 
````

From now on, we'll try to use more and more method chaining in the code. When writing code, always assess whether method chaining will make your code harder to read. If it does, it's always preferable to break the code into more than one line.

### Task 3.4.5
1. Use `Series.value_counts()` and `Series.loc` to return the number of companies with a value of `0` of the `previous_rank` column in the `f500` dataframe. Assign the results to `zero_previous_rank`.

In [16]:
# Start your code below:
zero_previous_rank = f500.loc[:,"previous_rank"].value_counts()[0]
print(zero_previous_rank)

33

## 6. Dataframe Exploration Methods

Since series and dataframes are two distinct objects, they have their own unique methods. However, they also have methods with the same name that behave in a similar manner. Find some examples below:

- `Series.max()` and `DataFrame.max()`
- `Series.min()` and `DataFrame.min()`
- `Series.mean()` and `DataFrame.mean()`
- `Series.median()` and `DataFrame.median()`
- `Series.mode()` and `DataFrame.mode()`
- `Series.sum()` and `DataFrame.sum()`

> In contrast to series, dataframe methods require an axis parameter in order to know which axis to calculate across. You can use integers to refer to the first and second axis. Pandas dataframe methods also accept the strings ``index`` and ``columns`` for the axis parameter:

````python
# When we try to calculate along the row axis
DataFrame.method(axis = 0)
# or 
Dataframe.method(axis = "index")
````

````python
# When we try to calculate along the column axis
DataFrame.method(axis = 1)
# or 
Dataframe.method(axis = "column")
````

For a more concrete example, if we want to find the median for the **revenues** and **profits** columns in our data set, we can do the following:

In [17]:
medians = f500[["revenues", "profits"]].median(axis=0)
# we could also use .median(axis="index")
print(medians)

revenues    40236.0
profits      1761.6
dtype: float64

### Task 3.4.6

Now, it's your time to shine!
1. Use the `DataFrame.max()` method to find the maximum value for only the numeric columns from `f500` (you may need to check the documentation). Assign the result to the variable `max_f500`.

In [22]:
# Start your code below:
max_f500 = f500.max(numeric_only=True)

## 7. Dataframe Describe Method

Try to see how we can use `DataFrame.max()` method below:

In [23]:
f500.max(numeric_only=True)

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

Like series objects, there is also a `DataFrame.describe()` method that we can use to explore the dataframe more efficiently. Take a look at the `DataFrame.describe()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html).

There are a couple of differences between the `Series.describe()` method and `DataFrame.describe()` method. For example, the `Series.describe()` method returns a series object, the `DataFrame.describe()` method returns a dataframe object.

### Task 3.4.7

Now let's have some practice with the `DataFrame.describe()` method that we just learned.
1. Return a dataframe of descriptive statistics for all of the numeric columns in `f500`. Assign the result to `f500_desc`.

In [24]:
# Start your code below:
f500_desc = f500.describe()

## 8. Assignment with pandas

Let's start by learning assignment, starting with the following example:

In [25]:
top5_rank_revenue = f500[["rank", "revenues"]].head()
print(top5_rank_revenue)

                          rank  revenues
company
Walmart                      1    485873
State Grid                   2    315199
Sinopec Group                3    267518
China National Petroleum     4    262573
Toyota Motor                 5    254694

In [26]:
top5_rank_revenue["revenues"] = 0
print(top5_rank_revenue)

                          rank  revenues
company
Walmart                      1         0
State Grid                   2         0
Sinopec Group                3         0
China National Petroleum     4         0
Toyota Motor                 5         0

As in Numpy, we can apply the same technique that we use to select data to assignment. 
> Just remember, when we selected a whole column by label and used assignment, we assigned the value to every item in that column.

When we provide labels for both axes, we assign the value to a single item within our dataframe.

In [27]:
top5_rank_revenue.loc["Sinopec Group", "revenues"] = 999
print(top5_rank_revenue)

                          rank  revenues
company
Walmart                      1         0
State Grid                   2         0
Sinopec Group                3       999
China National Petroleum     4         0
Toyota Motor                 5         0

### Task 3.4.8

Use again our Fortune 500 data set:
1. The company "Dow Chemical" has named a new CEO. Update the value where the row label is `Dow Chemical` by changing the ceo column to `Jim Fitterling` in the `f500` dataframe.

In [31]:
# Start your code below:
f500.loc["Dow Chemical","ceo"] = "Jim Fitterling"
f500.loc["Dow Chemical","ceo"]

'Jim Fitterling'

## 9. Using Boolean Indexing with pandas Objects

In order to replace many values at the same time, we recommend using <b> boolean indexing </b> to change all rows that meet the same criteria, just like we did with NumPy.

Let's take a look at the dataframe example below. This is a dataframe of people and their favorite numbers:

In [33]:
import pandas as pd

d = {'name': ["Kyllie", "Rahul", "Michael", "Sarah"], 'num': [12, 8, 5, 8]}

df = pd.DataFrame(data=d)
df

      name  num
0   Kyllie   12
1    Rahul    8
2  Michael    5
3    Sarah    8

If we want to check which people have a favorite number of 8, we can first perform a vectorized boolean operation that produces a boolean series:

In [34]:
num_bool = df["num"] == 8
num_bool

0    False
1     True
2    False
3     True
Name: num, dtype: bool

We have used a series to index the whole dataframe, leaving us with the rows that correspond only to people whose favorite number is 8:

In [35]:
result = df[num_bool]
result

    name  num
1  Rahul    8
3  Sarah    8

You see that we didn't use ``loc[]``. The reason for this is that boolean arrays use the same shortcut as slices to select along the index axis. We can also use the boolean series to index just one column of the dataframe:

In [36]:
result = df.loc[num_bool,"name"]
result

1    Rahul
3    Sarah
Name: name, dtype: object

You see that we have used `df.loc[]` to specify both axes.

### Task 3.4.9
1. Create a boolean series, `motor_bool`, that compares whether the values in the `industry` column from the `f500` dataframe are equal to `"Motor Vehicles and Parts"`.
2. Use the `motor_bool` boolean series to index the `country` column. Assign the result to `motor_countries`.

In [41]:
# Start your code below:
motor_bool = f500["industry"] == "Motor ehicles and Parts"
motor_countries = f500["industry"][motor_bool]

## 10. Using Boolean Arrays to Assign Values (OPTIONAL)

In this session, we will look at how we can combine assignment and boolean indexing in pandas.

In the following example, we change the `'Motor Vehicles & Parts'` values in the sector column to `'Motor Vehicles and Parts'` – i.e. we will change the ampersand (`&`) to `and`.

In [43]:
# First, we create a boolean series by comparing the values in the sector column to 'Motor Vehicles & Parts'
ampersand_bool = f500["sector"] == "Motor Vehicles & Parts"

# Next, we use that boolean series and the string "sector" to perform the assignment.
f500.loc[ampersand_bool,"sector"] = "Motor Vehicles and Parts"

We can do what we just did as in one line: remove the intermediate step of creating a boolean series, and combine everything like this:

In [44]:
f500.loc[f500["sector"] == "Motor Vehicles & Parts","sector"] = "Motor Vehicles and Parts"

Now that we have learned how to put everything into one line, we can use this technique and replace the values in the `previous_rank` column. We want to replace the items with value `0`, as `0` is no reasonable rank. What we can replace these values with? We can replace these values with `np.nan` – this value is used in pandas to represent values that cannot be represented numerically, such as some missing values.

### Task 3.4.10
1. Use boolean indexing to update values in the `previous_rank` column of the `f500` dataframe:
    - There should now be a value of `np.nan` where there previously was a value of `0`.
    - It is up to you whether you assign the boolean series to its own variable first, or whether you complete the operation in one line.
2. Create a new pandas series, `prev_rank_after`, using the same syntax that was used to create the `prev_rank_before` series.
3. Compare the `prev_rank_before` and the `prev_rank_after` series.

In [45]:
import numpy as np
f500 = pd.read_csv('../../../Data/csv/f500.csv',index_col=0)
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()

# Start your code below:
f500.loc[f500["previous_rank"] == 0] = np.nan

prev_rank_after = f500["previous_rank"].value_counts(dropna=False).head()
print(prev_rank_before)
print(prev_rank_after)

previous_rank
0      33
1       1
302     1
334     1
325     1
Name: count, dtype: int64
previous_rank
NaN      33
1.0       1
302.0     1
334.0     1
325.0     1
Name: count, dtype: int64

## 11. Creating New Columns (IMPORTANT)

When we try to assign a value or values to a new column label in pandas, a new column will be created in our dataframe. Below we've added a new column to a dataframe named `top5_rank_revenue`:

````python
top5_rank_revenue["year_founded"] = 0
print(top5_rank_revenue)
````

|_                          |rank |revenues |year_founded|
|--------------------------|-----|---------|------------|
|Walmart                   |   1 |       0 |           0|
|State Grid                |   2 |       0 |           0|
|Sinopec Group             |   3 |     999 |           0|
|China National Petroleum  |   4 |       0 |           0|
|Toyota Motor              |   5 |       0 |           0|

### Task 3.4.11
1. Add a new column named `rank_change` to the `f500` dataframe. This column should show the change of ranks which you get by subtracting the values in the `rank` column from the values in the `previous_rank` column.
2. Use the `Series.describe()` method to return a series of descriptive statistics for the `rank_change` column. Assign the result to `rank_change_desc`.
3. Verify that the minimum value of the `rank_change` column is now greater than `-500`.

In [46]:
# Start your code below:
f500["rank_change"] = f500["previous_rank"] - f500["rank"]
rank_change_desc = f500["rank_change"].describe()
rank_change_desc

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64